gitRepoBlocks:
  # - tool: name of the tool to clone (required)
  #   repo: git remote url to cloen (required)
  #   base: some common folders to create the symlink into (like home, config, git, projects) (required)
  #   fold: the folder to clone into (required)
  #   remote: the git remote to use (optional) (default = "origin")
  #   ensure-latest: (bool) should pull latest? (optional) (default = false)
  #   build: instructions to build the repo (optional)
  #   symlinks:
  #     - name: filename in clone repo directory (required)
  #       base: some common folders to create the symlink into (like home, config, git, projects) (required)
  #       fold: any subfolder inside base (optional)
  #       dest: destination filename of the symlink (optional) (default = name)

  - tool: stumpwm
    repo: https://github.com/stumpwm/stumpwm
    base: git
    fold: stumpwm

    ensure-latest: true
    build: |
      ./autogen.sh
      ./configure
      make

  - tool: stumpwm-contrib
    repo: https://github.com/stumpwm/stumpwm-contrib.git
    base: git
    fold: stumpwm-contrib

    ensure-latest: true
    symlinks:
      - name: "" # the current directory, dunno why "." fails when ran twice
        base: home
        fold: .stumpwm.d
        dest: modules

  - tool: stumpwm-config
    repo: git@github.com:null-calx/stumpwm-config.git
    base: projects
    fold: stumpwm-config

    ensure-latest: true
    build: |
      make
    symlinks:
      - name: init.lisp
        base: home
        fold: .stumpwm.d

  - tool: baymax
    repo: git@github.com:null-calx/baymax.git
    base: projects
    fold: baymax

    symlinks:
      - name: init.el
        base: home
        fold: .emacs.d
      - name: emacs-custom.el
        base: home
        fold: .emacs.d
      - name: config.org
        base: home
        fold: .emacs.d
      - name: local
        base: home
        fold: .emacs.d

  - tool: readelf
    repo: git@github.com:null-calx/readelf.git
    base: projects
    fold: readelf

configurationBlocks:
  # - tool: name of the tool to configure (required)
  #   name: filename in ./config directory (required)
  #   base: some common folders to create the symlink into (like home, config, git, projects) (required)
  #   fold: any subfolder inside base (optional)
  #   dest: destination filename of the symlink (optional) (default = name)

  - tool: alacritty
    name: alacritty.toml
    base: config

  - tool: dunst
    name: dunst
    base: config

  - tool: gdb
    name: gdbinit
    base: home
    dest: .gdbinit

  - tool: git
    name: gitconfig
    base: home
    dest: .gitconfig

  - tool: gpg
    name: gpg.conf
    base: home
    fold: .gnupg

  - tool: picom
    name: picom.conf
    base: config

  - tool: rofi
    name: config.rasi
    base: config
    fold: rofi

  - tool: sbcl
    name: sbclrc
    base: home
    dest: .sbclrc

  - tool: user profile
    name: profile
    base: home
    dest: .profile

  - tool: xinit
    name: xinitrc
    base: home
    dest: .xinitrc

  - tool: zsh
    name: zshrc
    base: home
    dest: .zshrc
